html,
body,
header,
#intro {
    height: 100%;
    scroll-behavior: smooth;
}

#intro {
    background: url("../img/marvin-meyer-HN1roKF-DS4-unsplash.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse{
  background-color: purple;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: purple;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: purple;
  }
}